
.anonymous{
    font-family: "anonymous-pro", monospace;
font-weight: 400;
font-style: normal;
  }

body {font-family: "anonymous", monospace;
font-weight: 400;
font-style: normal;
color: #00ff00;
font-size: 25px;
}







.bottom-link {
    font-size: 60px;
    position: fixed;
    bottom:0%;
    left:0%;
  color: #00ff00;         
  text-decoration: underline; 
}

.bottom-link:hover {
  color: white;          
  text-decoration: none; 
}